
body{
    font-family: "Inria Sans", Verdana, sans-serif;
    background-image: url("https://diapogram.com/upload/2018/03/28/20180328203314-3fb7e470.jpg");
  }
  
  h1,h2,h3,h4{
    text-align: center;
  }
  
  h2{
    color: white;
  }
  
  *{
    text-decoration: none;
  }
  
  a{
    color: yellow;
  }
  
  h1{
    color: yellow;
  }
  